<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<context:component-scan base-package="com.btcc.wsm"/>
	<bean id="systemAuditTrail" class="com.btcc.wsm.model.SystemAuditTrail"/>
	<bean id="systemAuditTrailRecordService" class="com.btcc.wsm.serviceimpl.SystemAuditTrailRecordServiceImpl"/>
	<bean id="accessLog" class="com.btcc.wsm.model.AccessLog"/>
	<bean id="accessLogService" class="com.btcc.wsm.serviceimpl.AccessLogServiceImpl" />
	<bean id="userService" class="com.btcc.wsm.serviceimpl.UsersServiceImpl"/>
	<bean id="customerService" class="com.btcc.wsm.serviceimpl.CustomerServiceImpl"/>


</beans>