<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<import resource="spring-jpa.xml"/>
	
	<bean id="role" class="com.anny.wsm.model.Role" />
	<bean id="roleService"	class="com.anny.wsm.serviceimpl.RoleServiceImpl">
	</bean>
	<bean id="accessRights" class="com.anny.wsm.model.AccessRights" />
	<bean id="accessRightsService" class="com.anny.wsm.serviceimpl.AccessRightsServiceImpl">
	</bean>
	<bean id="users" class="com.anny.wsm.model.Users" />
	<!-- <bean id="userToAccessRightsService" class="com.hlb.dblogging.security.users.service.UserToAccessRightsServiceImpl"></bean> -->
	<bean id="usersService" class="com.anny.wsm.serviceimpl.UsersServiceImpl">
		<!-- <property name="userToAccessRightsService">
			<ref bean="userToAccessRightsService" />
		</property> -->
	</bean>
	
	<bean  id="userAuthenticationService" class="com.anny.wsm.serviceimpl.UserAuthenticationServiceImpl">
    	<property name="userService" >
			<ref bean="usersService"/>
		</property>
    </bean>
</beans>
